h1 {
    font-family: serif;
    text-align: center;
}

p {
    color: red;
    text-align: center;
    margin-left: 60px;
    margin-top: 60px;
    font-size: 40pt;
}

.blue {
    color: blue;
    text-align: center;
}