* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 0.3s;
    /* box-sizing: border-box; */
}

body {
    font-family: sans-serif;
    background-color: grey;/* #b8b6b6; */
    color: white;/* #fdfdfd; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.card {
    max-width: 250px;
    margin: 150px auto 0;
    background-color: tomato;/* #42515a; */
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    /* box-shadow: 0 10px 90px #00000024; */
}

/* card-header */

.card-header {
    height: 75px;
    /* position: relative; */
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    transform: translate(0%, -50%);
    border: 8px solid #c74385;
    /* position: absolute; */
    /* left: 50%; ##translate(-50%, -50%);*/
    /* box-shadow: 0 0 20px #00000033; */
}

.profile-img:hover {
    width: 180px;
    height: 180px;
    /* border: 8px solid #d885af; */
}

/* card-body */

.card-body {
    padding: 10px;
}

.name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: pink;/* #c74385; */

}   .name:hover {
    font-size: 25px;
    /* margin-top: 30px; */
    /* color: #d885af; */
}

.mail {
    font-size: 15px;
    color: bisque;/* #c2bdbd; */

}   .mail:hover {
    font-size: 16px;
    /* color: #ffffff; */
}

.job {
    margin-top: 10px;
    font-size: 15px;
}

/** social-links **/

.social-links {
    margin-top: 10px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.social-icon {
    margin: 30px 5px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 25%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #c74385;
    /* color: #ffffff; */
    /* text-decoration: none; */

}   .social-icon:hover {
    height: 50px;
    width: 50px;
    /* text-decoration: none; */
    /* background-color: #d885af; */

}/* .card .social-links .social-icon:last-child {
    margin-right: 0;
} */


/** card-footer **/

.card-footer {
    background-color: #c74385;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px 0px;
}

.count {
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .card {
        width: 95%;
    }

    .card-body {
        padding: 10px 20px;
    }
}
